<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{goal.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="col-md-8 offset-2">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-9"> <h4 class="flex-grow-1">[[#{goal.add.headline}]]</h4></div>
                            <div class="col-md-3"><a th:href="@{/goals}" class="btn btn-secondary">[[#{goal.add.back}]]</a></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div th:replace="~{fragments/forms::globalErrors('goal')}" />
                        <form th:action="${requestUri}" method="post">
                            <div th:replace="~{fragments/forms::inputRow(object='goal', field='goalDescription', required=true)}" />
                            <div th:replace="~{fragments/forms::inputRow(object='goal', field='completed', type='checkbox')}" />
                            <div th:replace="~{fragments/forms::inputRow(object='goal', field='targetDate', inputClass='js-datepicker', required=true)}" />
                            <input type="submit" th:value="#{goal.add.headline}" class="btn btn-primary mt-4" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
