<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{leave.list.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h4 class="flex-grow-1">Pending Leave Request</h4>
        <div>
            <a th:href="@{/leaves/add}" class="btn btn-primary ms-2">[[#{leave.list.createNew}]]</a>
        </div>
    </div>
    <div th:if="${leaves.empty}">[[#{leave.list.empty}]]</div>
    <div th:if="${!leaves.empty}" class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">Serial</th>
                <th scope="col">[[#{leave.employee.label}]]</th>
                <th scope="col">[[#{leave.startDate.label}]]</th>
                <th scope="col">[[#{leave.endDate.label}]]</th>
                <th scope="col">[[#{leave.status.label}]]</th>
                <th scope="col">[[#{leave.reason.label}]]</th>
                <th><!-- --></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="leave : ${leaves}">
                <td>[[${leave.id}]]</td>
                <td>[[${leave.employee.email}]]</td>
                <td>[[${leave.startDate}]]</td>
                <td>[[${leave.endDate}]]</td>
                <td>[[${leave.status}]]</td>
                <td>[[${leave.reason}]]</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a th:if="${leave.status == leave.status.PENDING}" th:href="@{/leaves/edit/{id}(id=${leave.id})}" class="btn btn-sm btn-secondary">[[#{leave.list.edit}]]</a>
                        <form th:if="${leave.status == leave.status.PENDING && head }"  th:action="@{/leaves/approve/{id}(id=${leave.id})}"
                              th:data-confirm-message="'Do you want to approve ?'" method="post" class="js-submit-confirm d-inline">
                            <button type="submit" class="btn btn-sm btn-secondary">Approve</button>
                        </form>
                        <form th:if="${leave.status == leave.status.PENDING && head}" th:action="@{/leaves/reject/{id}(id=${leave.id})}"
                              th:data-confirm-message="'Do you want to cancel ?'" method="post" class="js-submit-confirm d-inline">
                            <button type="submit" class="btn btn-sm btn-secondary">Cancel</button>
                        </form>
                        <button th:if="${leave.status == leave.status.APPROVED}" type="submit" class="btn btn-sm btn-success">Approved</button>
                        <button th:if="${leave.status == leave.status.REJECTED}" type="submit" class="btn btn-sm btn-warning">Cancelled</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
