<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{compensation.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h3 class="flex-grow-1">[[#{compensation.edit.headline}]]</h3>
                <div>
                    <a th:href="@{/compensations}" class="btn btn-secondary">[[#{compensation.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('compensation')}" />
            <form th:action="${requestUri}" method="post">
                <input name="id" th:value="${compensation.id}" type="hidden" />
                <div th:replace="~{fragments/forms::inputRow(object='compensation', field='bonus')}" />
                <div th:replace="~{fragments/forms::inputRow(object='compensation', field='commission')}" />
                <div th:replace="~{fragments/forms::inputRow(object='compensation', field='allowances')}" />
                <div th:replace="~{fragments/forms::inputRow(object='compensation', field='overtimePay')}" />
                <div class="row mb-3">
                    <label  class="col-md-2 col-form-label">
                        <span>For Employee</span>
                    </label>
                    <div class="col-md-10">
                        <select class="form-control"   th:field="*{compensation.employee}" name="validation-required" required="required">
                            <option value="">Choose...</option>
                            <option th:each="e : ${emps}" th:value="${e.id}" th:text="${e.firstName +' ' + e.lastName}"></option>
                        </select>
                    </div>
                </div>
                <input type="submit" th:value="#{compensation.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
