<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{compensation.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{compensation.list.headline}]]</h1>
                <div>
                    <a th:href="@{/compensations/add}" class="btn btn-primary ms-2">[[#{compensation.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${compensations.empty}">[[#{compensation.list.empty}]]</div>
            <div th:if="${!compensations.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{compensation.id.label}]]</th>
                            <th scope="col">[[#{compensation.baseSalary.label}]]</th>
                            <th scope="col">[[#{compensation.bonus.label}]]</th>
                            <th scope="col">[[#{compensation.commission.label}]]</th>
                            <th scope="col">[[#{compensation.allowances.label}]]</th>
                            <th scope="col">[[#{compensation.overtimePay.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="compensation : ${compensations}">
                            <td>[[${compensation.id}]]</td>
                            <td>[[${compensation.baseSalary}]]</td>
                            <td>[[${compensation.bonus}]]</td>
                            <td>[[${compensation.commission}]]</td>
                            <td>[[${compensation.allowances}]]</td>
                            <td>[[${compensation.overtimePay}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/compensations/edit/{id}(id=${compensation.id})}" class="btn btn-sm btn-secondary">[[#{compensation.list.edit}]]</a>
                                    <form th:action="@{/compensations/delete/{id}(id=${compensation.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{compensation.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
