<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{employee.edit.headline}]]</title>
        <script>
            // Ensure the script runs after the document is fully loaded
            document.addEventListener('DOMContentLoaded', function() {
                // Make the input field readonly
                document.getElementById('email').readOnly = true;
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h4 class="flex-grow-1">[[#{employee.edit.headline}]]</h4>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('employee')}" />
            <form th:action="${requestUri}" method="post">
<!--                <div th:replace="~{fragments/forms::inputRow(object='employee', field='id', disabled=true, type='number')}" />-->
                <input name="id" th:value="${employee.id}" type="hidden" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='firstName', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='lastName', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='email', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='phone', required=true)}" />
                <input type="submit" th:value="#{employee.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
