<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{job.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{job.add.headline}]]</h1>
                <div>
                    <a th:href="@{/jobs}" class="btn btn-secondary">[[#{job.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('job')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='job', field='title', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='job', field='description', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='job', field='category', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='job', field='salary', required=true)}" />
                <input type="submit" th:value="#{job.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>

        <div class="container mt-3">
            <h3>Fading Modal Example</h3>
            <p>Click on the button to open the modal.</p>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                Open modal
            </button>
        </div>

        <!-- The Modal -->

    </body>
</html>
