<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{applicant.list.headline}]]</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h4 class="flex-grow-1" th:text="${'Applicants for ' + job.title}"></h4>
                <div>
                    <a th:href="@{/jobs}" class="btn btn-primary ms-2">Browse Jobs</a>
                </div>
            </div>
            <div th:if="${applicants.empty}">[[#{applicant.list.empty}]]</div>
            <div th:if="${!applicants.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{applicant.firstName.label}]]</th>
                            <th scope="col">[[#{applicant.lastName.label}]]</th>
                            <th scope="col">[[#{applicant.email.label}]]</th>
                            <th scope="col">Resume</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="v : ${applicants}">
                            <td>[[${v.applicant.firstName}]]</td>
                            <td>[[${v.applicant.lastName}]]</td>
                            <td>[[${v.applicant.email}]]</td>
                            <td><a  th:href="@{'/jobs/download-resume/'} + ${v.job.id +'/'+ v.applicant.id} " ><i class="fa fa-download"></i> Download Resume</a></td>
                            <td>
                                <div class="float-end text-nowrap">
                                                                        <button th:if="${v.hired}" type="submit" class="btn btn-sm btn-success">Hired</button>
                                                                        <button th:if="${v.deny}" type="submit" class="btn btn-sm btn-warning">Denied</button>
                                    <form th:if="${!v.hired && !v.deny}" th:action="@{/jobs/hire/{id}/{jobid}(id=${v.applicant.id}, jobid=${v.job.id})}"
                                          th:data-confirm-message="'Do you want to hire this candidate'"
                                          method="get" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">Hire</button>
                                    </form>
                                    <form th:if="${!v.hired && !v.deny}" th:action="@{/jobs/deny/{id}/{jobid}(id=${v.applicant.id}, jobid=${v.job.id})}"
                                          th:data-confirm-message="'Do you want to deny this candidate'"
                                          method="get" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">Deny</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
