<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Job Apply</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">Submit Proposal</h1>
        <div>
            <a th:href="@{/jobs}" class="btn btn-secondary">[[#{applicant.add.back}]]</a>
        </div>
    </div>
    <form th:action="${'/jobs/apply'}" th:method="${applicant}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{applicant.job.id}" th:value="${applicant.job.id}">
        <div>
            <label for="jobId">Expect Salary</label>
            <input class="form-control" type="text" id="jobId" name="expectedSalary" required>
        </div>
        <div>
            <label for="resume">Resume:</label>
            <input class="form-control" type="file" id="resume"  name="file" accept=".pdf,.doc,.docx" required>
        </div>
        <input type="submit" th:value="#{applicant.add.headline}" class="btn btn-primary mt-4" />
    </form>
</div>
</body>
</html>
