<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <div layout:fragment="content">
            <h4 class="mb-3">[[#{home.index.headline}]]</h4>
            <p class="mb-5">[(#{home.index.text})]</p>
            <div class="col-md-4 mb-5">
                <h4 class="mb-3">Browse Link</h4>
                <div class="list-group">
                    <a sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/employees}" class="list-group-item list-group-item-action">[[#{employee.list.headline}]]</a>
                    <a  sec:authorize="hasAnyRole('ROLE_HR','ROLE_ADMIN','ROLE_APPLICANT')" th:href="@{/jobs}" class="list-group-item list-group-item-action">[[#{job.list.headline}]]</a>
                    <a  sec:authorize="hasAnyRole('ROLE_USER','ROLE_HR','ROLE_ADMIN')" th:href="@{/leaves}" class="list-group-item list-group-item-action">[[#{leave.list.headline}]]</a>
                    <a  sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/compensations}" class="list-group-item list-group-item-action">[[#{compensation.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_USER','ROLE_USER')" th:href="@{/goals}" class="list-group-item list-group-item-action">[[#{goal.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/departments}" class="list-group-item list-group-item-action">[[#{department.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/applicants}" class="list-group-item list-group-item-action">[[#{applicant.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/benefits}" class="list-group-item list-group-item-action">[[#{benefit.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/performanceReviews}" class="list-group-item list-group-item-action">[[#{performanceReview.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/compensations}" class="list-group-item list-group-item-action">[[#{compensation.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_APPLICANT')" th:href="@{/compensations}" class="list-group-item list-group-item-action">Applied Jobs</a>
                </div>
            </div>
        </div>
    </body>
</html>