<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <style>
            .value {
                text-align: center;
                font-weight: bold;
                color: blue;
                font-size: x-large;
            }
            .card {
                padding: 10px;
                background: beige;
            }
        </style>

    </head>
    <body>
        <div layout:fragment="content">

           <div class="row">
               <div  sec:authorize="hasAnyRole('ROLE_HR')" class="col-md-3">
                   <div class="card">
                       <div class="card-body">Pending Leave</div>
                       <div class="value" th:text="${pendingLeave}">10</div>
                   </div>
               </div>
               <div  sec:authorize="hasAnyRole('ROLE_HR')" class="col-md-3">
                   <div class="card">
                       <div class="card-body">Department Total</div>
                       <div class="value" th:text="${totalDept}">10</div>
                   </div>
               </div>
               <div  sec:authorize="hasAnyRole('ROLE_HR')" class="col-md-3">
                   <div class="card">
                       <div class="card-body">Total Open Job</div>
                       <div class="value" th:text="${openJob}">10</div>
                   </div>
               </div>
               <div  sec:authorize="hasAnyRole('ROLE_HR')" class="col-md-3">
                   <div class="card">
                       <div class="card-body">Total Employee</div>
                       <div class="value" th:text="${totalEmp}">10</div>
                   </div>
               </div>
           </div><br>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">My Leave Request</div>
                        <div class="value" th:text="${myLeaveRequ}" >10</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">My Approved Leave</div>
                        <div class="value" th:text="${myApprovedLeave}">10</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">My Pending Leave</div>
                        <div class="value" th:text="${myPendingLeave}">10</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">My Objectives/Target</div>
                        <div class="value" th:text="${myObjectives.size()}">10</div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <div  sec:authorize="hasAnyRole('ROLE_HR', 'ROLE_EMPLOYEE', 'ROLE_ADMIN')" >
                        <div class="card">
                            <div class="card-body">
                                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script  th:inline="javascript">
                var pending = [[${pendingObj}]];
                var done = [[${doneObj}]];

                var xValues = ["Pending", "Task Completed"];
                var yValues = [pending, done];
                var barColors = [
                    "#00aba9",
                    "#1e7145"
                ];

                new Chart("myChart", {
                    type: "pie",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: "Employee Performance Graph"
                        }
                    }
                });
            </script>

          <!--  <h4 class="mb-3">[[#{home.index.headline}]]</h4>
            <p class="mb-5">[(#{home.index.text})]</p>
            <div class="col-md-4 mb-5">
                <h4 class="mb-3">Browse Link</h4>
                <div class="list-group">
                    <a sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/employees}" class="list-group-item list-group-item-action">[[#{employee.list.headline}]]</a>
                    <a  sec:authorize="hasAnyRole('ROLE_HR','ROLE_ADMIN','ROLE_APPLICANT')" th:href="@{/jobs}" class="list-group-item list-group-item-action">[[#{job.list.headline}]]</a>
                    <a  sec:authorize="hasAnyRole('ROLE_USER','ROLE_HR','ROLE_ADMIN')" th:href="@{/leaves}" class="list-group-item list-group-item-action">[[#{leave.list.headline}]]</a>
                    <a  sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/compensations}" class="list-group-item list-group-item-action">[[#{compensation.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_USER','ROLE_USER')" th:href="@{/goals}" class="list-group-item list-group-item-action">[[#{goal.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/departments}" class="list-group-item list-group-item-action">[[#{department.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/applicants}" class="list-group-item list-group-item-action">[[#{applicant.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/benefits}" class="list-group-item list-group-item-action">[[#{benefit.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/performanceReviews}" class="list-group-item list-group-item-action">[[#{performanceReview.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_HR')" th:href="@{/compensations}" class="list-group-item list-group-item-action">[[#{compensation.list.headline}]]</a>
                    <a sec:authorize="hasAnyRole('ROLE_APPLICANT')" th:href="@{/compensations}" class="list-group-item list-group-item-action">Applied Jobs</a>
                </div>
            </div>-->
        </div>
    </body>
</html>