<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{performanceReview.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h4 class="flex-grow-1">Review Performance</h4>
                <div>
                    <a th:href="@{/performanceReviews}" class="btn btn-secondary">[[#{performanceReview.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('performanceReview')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='performanceReview',required=true, field='reviewText')}" />
                <div class="row mb-3">
                    <label  class="col-md-2 col-form-label">
                        <span>Choose Performance</span>
                    </label>
                    <div class="col-md-10">
                        <select class="form-control"   th:field="*{performanceReview.performance}" name="validation-required" required="required">
                            <option value="">Choose...</option>
                            <option th:each="e : ${performance}" th:value="${e}" th:text="${e}"></option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label  class="col-md-2 col-form-label">
                        <span>For Employee</span>
                    </label>
                    <div class="col-md-10">
                        <select class="form-control"   th:field="*{performanceReview.employee}" name="validation-required" required="required">
                            <option value="">Choose...</option>
                            <option th:each="e : ${emps}" th:value="${e.id}" th:text="${e.firstName +' ' + e.lastName}"></option>
                        </select>
                    </div>
                </div>
                <input type="submit" value="Save Entry" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
