<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{performanceReview.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h4 class="flex-grow-1">Employee Performance History</h4>
                <div>
                    <a th:href="@{/performanceReviews/add}" class="btn btn-primary ms-2">Add Performance</a>
                </div>
            </div>
            <div th:if="${performanceReviews.empty}">[[#{performanceReview.list.empty}]]</div>
            <div th:if="${!performanceReviews.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{performanceReview.id.label}]]</th>
                            <th scope="col">[[#{performanceReview.reviewText.label}]]</th>
                            <th scope="col">[[#{performanceReview.reviewDate.label}]]</th>
                            <th scope="col">Employee</th>
                            <th scope="col">Performance</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="performanceReview : ${performanceReviews}">
                            <td>[[${performanceReview.id}]]</td>
                            <td>[[${performanceReview.reviewText}]]</td>
                            <td>[[${performanceReview.reviewDate}]]</td>
                            <td>[[${performanceReview.employee.firstName}]] [[${performanceReview.employee.lastName}]]</td>
                            <td>[[${performanceReview.performance}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/performanceReviews/edit/{id}(id=${performanceReview.id})}" class="btn btn-sm btn-secondary">[[#{performanceReview.list.edit}]]</a>
                                    <form th:action="@{/performanceReviews/delete/{id}(id=${performanceReview.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{performanceReview.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
